<h1>About:</h1>

<h3>Developed October 2016 as a basic showcase of the Shine On You Crazy API. Dedicated to my hermano Joseph Banuelos, who showed me Floyd was so much more than dad music.</h3>
<h4>I developed this as a project for the MEAN Stack Intensive through V School. As you may notice, the API database is not complete, and currently only displays US-based data for the major releases. My hope is to continue to flesh out the API towards completion, and to offer it as a resource for those learning (Such as the <a href="https://pokeapi.co/">PokeAPI</a> and <a href="https://swapi.co/">Star Wars API</a> were for me). If you'd like to contribute or have ideas about how to improve this project, please feel free to check out the <a href=""></a></h4>
