body {
    background-color: black;
    color: white;
    background-image: url("pink.jpeg");
    background-size: cover;
}

a {
    color: pink;
}

.navlink {
    padding-left: 2em;
}

.albspace {
    padding: 1em;
}

.title {
    font-size: 6em;
}
